*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
}

body {
    min-height: 100svh;
    line-height: 1.5;
}

[class*="img-"], img, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: clip;

    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    text-wrap: balance;
}

p { 
    max-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

.twitter-wrapper {
    text-decoration: none;
    color: var(--color-brown)
}
.kirby-scroll { color: var(--color-brown) }



